/*

  Main - body
  +

*/

// Body
.body {
  @media screen and (min-width: $breakpoint--sm) {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      max-width: 610px;
      overflow-y: scroll;
  }
}

